<form>
  <div class='row'>
    <div class="small-12 medium-2 columns">
  Rating:
    </div>
      {{#radio-button value="1" groupValue=review.rating }} 1 {{/radio-button}}
      {{#radio-button value="2" groupValue=review.rating }} 2 {{/radio-button}}
      {{#radio-button value="3" groupValue=review.rating }} 3 {{/radio-button}}
      {{#radio-button value="4" groupValue=review.rating }} 4 {{/radio-button}}
      {{#radio-button value="5" groupValue=review.rating }} 5 {{/radio-button}}
  </div>
  <br/>
  <div class='row'>
    <div class="small-12 medium-3 columns">
      Review:
    </div>
    <div class="small-12 medium-9 columns">
      {{textarea class="input-medium" value=review.review rows="4"}}
    </div>
  </div>
  <br/>
  <div class='row'>
    <div class="small-12 medium-3 columns">
      Reviewer's Name:
    </div>
    <div class="small-12 medium-9 columns">
      {{spree-input class="input-medium" value=review.name}}
    </div>
  </div>

  <br/>
  <div class='row'>
    <div class="small-12 medium-3 columns">
      Review Title:
    </div>
    <div class="small-12 medium-9 columns">
      {{spree-input class="input-medium" value=review.title}}
    </div>
  </div>
  <br/>
   <button {{action "submitReview" review product}}>Submit Review</button>
</form>
