{{spree-pdp product=model}}

<div class='row'>
  Products Review
  <br/>
  {{#each model.reviews as |review|}}
    <div class='row'>
      <div class="small-12 medium-4 columns">
          {{review.name}}
          ({{review.rating}} star)
      </div>
      <div class="small-12 medium-8 columns">
        <div class='row'>
          {{review.title}}
        </div>
        <div class='row'>
          {{review.review}}
        </div>
      </div>
    </div>
  {{else}}
    Be the first to Write a Review
  {{/each}}
  {{#if session.isAuthenticated}}
    <fieldset>
      {{spree-review product=model}}
    </fieldset>
  {{else}}
    Please {{#link-to 'spree.signin'}} Sign In {{/link-to}} To Review
  {{/if}}
</div>